<ion-view title="My speed" id="page11">
  <ion-content padding="true" style="background: url(img/dSQI0vsS42qzAs7AGsIL_blue_abstract_2-wide.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/gw3JbaF5TgGiGRxUS8QV_hEADApp.png" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <div class="spacer" style="height: 100px;"></div>
    <div class="spacer" style="height: 100px;"></div>
    <button id="mySpeed-button24" style="border-radius:211px 211px 211px 211px;" class="button button-light">Start</button>
    <button id="mySpeed-button25" style="border-radius:211px 211px 211px 211px;" class="button button-light">Destination</button>
  </ion-content>
</ion-view>