<ion-view title="On comming traffic" id="page5">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/J0VglMPiS5SSkIU8idOO_blue_abstract_2-wide.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="onCommingTraffic-form11" class="list">
      <div>
        <img src="img/KIJyglT4TPmRKNdeNmKf_hEADApp.png" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </form>
    <div id="onCommingTraffic-container3" class="creator-container"></div>
    <div id="onCommingTraffic-container7" class="creator-container"></div>
  </ion-content>
</ion-view>