<ion-view title="" id="page1">
  <ion-content padding="false" style="background: url(img/gnC3EjQNms0sludiGpgu_blue_abstract_2-wide.jpg) no-repeat center;background-size:cover;" class="manual-remove-top-padding has-header" scroll="false">
    <div>
      <img src="img/Ike9K29TSdOZe6NIbJQg_hEADApp.png" style="display: block; width: 18%; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <a ui-sref="gPS()" id="page1-button11" style="font-weight:lighter;border-radius:211px 211px 211px 211px;" class="button button-royal icon ion-android-navigate"> _GPS</a>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <a ui-sref="mySpeed()" id="page1-button10" style="font-weight:lighter;border-radius:211px 211px 211px 211px;" class="button button-royal icon ion-android-hand"> _My Speed</a>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <a ui-sref="roadStutus()" id="page1-button12" style="font-weight:lighter;border-radius:211px 211px 211px 211px;" class="button button-royal icon ion-android-notifications"> _Road Status</a>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <a ui-sref="reportAccident()" id="page1-button13" style="font-weight:lighter;border-radius:211px 211px 211px 211px;" class="button button-royal icon ion-android-add-circle"> _Report Accident</a>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <a ui-sref="onCommingTraffic()" id="page1-button9" style="font-weight:lighter;border-radius:211px 211px 211px 211px;" class="button button-royal icon ion-alert"> _On comming traffic</a>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <a ui-sref="vichleVerification()" id="page1-button3" style="font-weight:lighter;border-radius:211px 211px 211px 211px;" class="button button-royal icon-left ion-android-car"> _ Vechle verification</a>
  </ion-content>
</ion-view>