<ion-view title="Private" id="page7">
  <ion-content padding="true" style="background: url(img/J0VglMPiS5SSkIU8idOO_blue_abstract_2-wide.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="private-form19" class="list">
      <div>
        <img src="img/KIJyglT4TPmRKNdeNmKf_hEADApp.png" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 20px;"></div>
      <label class="item item-select" id="private-select5" name="vichle_veri">
        <span class="input-label">Choose Vehicle</span>
        <select>
          <option>TAXI</option>
          <option>PRIVATE</option>
          <option>BUS</option>
        </select>
      </label>
    </form>
    <div id="private-container4">
      <form id="private-form20" class="list">
        <label class="item item-input item-stacked-label" id="private-input18">
          <span class="input-label">Plate No:</span>
          <input type="text" placeholder="">
        </label>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <label class="item item-input item-stacked-label" id="private-input19">
          <span class="input-label">Taxi No:</span>
          <input type="text" placeholder="">
        </label>
        <div class="spacer" style="width: 300px; height: 19px;"></div>
      </form>
    </div>
    <form id="private-form21" class="list">
      <label class="item item-input" id="private-input20">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>