<ion-view title="Vichle verification" id="page10">
  <ion-content padding="true" style="background: url(img/J0VglMPiS5SSkIU8idOO_blue_abstract_2-wide.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="vichleVerification-form28" class="list">
      <div>
        <img src="img/KIJyglT4TPmRKNdeNmKf_hEADApp.png" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </form>
    <h1 id="vichleVerification-heading1" style="color:#000000;">Choose:</h1>
    <div id="vichleVerification-container10">
      <form id="vichleVerification-form29" class="list">
        <a ui-sref="taxi()" id="vichleVerification-button20" style="border-radius:21px 21px 21px 21px;" class="button button-light button-large">Taxi</a>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <a ui-sref="bus()" id="vichleVerification-button22" style="border-radius:21px 21px 21px 21px;" class="button button-light button-large">Bus</a>
        <div class="spacer" style="width: 300px; height: 19px;"></div>
      </form>
    </div>
    <a ui-sref="private()" id="vichleVerification-button23" style="border-radius:21px 21px 21px 21px;" class="button button-light button-large">Private</a>
  </ion-content>
</ion-view>